.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;

}

* {
    font-family: sans-serif, Arial;
    scroll-behavior: smooth;
}

body {
    font-family:  sans-serif, Arial;
    width: 100%;
    min-height: 100vh;
    background-color: black;
}

.ptitle {
    color: white;
    text-align: center;
    margin-top: auto;
    background-color: black;
    height: 120px;
    width: auto;
}

.header {
    color: white;
}

.buttonstyle{
    background-color: white;
    color: black;
    font-size: 20px;
    padding: 10px 60px;
    borderRadius: 10px;
    margin: 5px 0px;
    cursor: default;
}

.buttonstyle:hover{
    opacity: 80%;
}
.modaldiv{
display: flexbox;
justify-content: center;
text-align: center;
}
.modalbutton{
    text-align: center;
    justify-content: center;
    font-size: 12px;
    width: auto;
    height: auto;
}
.form-control{
    padding: 1px 1px !important;
    borderRadius: 10px;
    width: 350px;
    resize: none;
}
.ghostbutton{
    opacity: 0;
    visibility: none;
}
  
  .card-wrapper{
    width: 270px; 
    height: 200px; 
    display: flexbox;
    flex-direction: column;
  }
  
  .card-top{
    width: 100%;
    height: 2%;
  }
  
  .task-holder{
    width: 100%;
    height: 98%;
    border-radius: 1rem;
    margin: 0.5rem;
    box-shadow: 0px 10px 0px white;
    padding: 10px 10px;
    display : flex;
    flex-direction: column;
    position: relative;
    background-color: black;
  }
  
  .card-header{
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 80px;
    height: 30px;
    padding: 1px 1px !important;
    text-align: center;
  }


  .taskContainer{
    height: 800px;
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    padding : 40px 100px;
    border: 1px, white;
    justify-content: space-evenly;
  }

  .descriptiontext{
    color: white;
  }
